* {
  box-sizing: border-box;
}

body {
  background: rgba(25, 156, 250, 0.9);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'PoppinsRegular';
  font-size: medium;
  font-weight: normal;
  padding-bottom: 100px;
}

.filter-container {
  width: 60vw;
  text-align: center;
}

.filter-container h1 {
  margin-top: 20px;
}

.filter-container input {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px 5px;
  width: 540px;
}

.posts-container {}

.post {
  width: 60vw;
  background: rgba(94, 187, 253, 0.9);
  padding: 10px 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.post-number {
  position: absolute;
  top: -15px;
  left: -15px;
  height: 30px;
  width: 30px;
  font-size: 16px;
  border-radius: 50%;
  background: #fff;
  border: 1px solid rgba(94, 187, 253, 0.9);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post .post-info {
  color: #fff;
}

.loader {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.loader .circle {
  height: 10px;
  width: 10px;
  margin: 5px;
  border-radius: 50%;
  background: #fff;
}