:root {
  --primary-color: #30336b;
  --secondary-color: #be2edd;

}

body {
  font-family: 'HankenLight';
  font-size: 16px;
  transition: transform 0.5s ease;
}

body.show-nav {
  transform: translateX(200px);
}

nav {
  background-color: var(--primary-color);
  color: #fff;
  border-right: 2px solid rgba(0, 0, 0, 0.4);
  width: 200px;
  height: 100vh;
  position: fixed;
  z-index: 100;
  transform: translateX(-100%);
}

nav .logo {
  margin: 20px;
}

nav .logo img {
  margin: 0 auto;
  border-radius: 40px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  border-bottom: 2px solid rgba(0, 0, 0, 0.4);
  padding: 20px 20px;
}

nav ul li:first-child {
  border-top: 2px solid rgba(0, 0, 0, 0.4);
}

nav ul a {
  color: #fff;
  text-decoration: none;
  margin: 20px 0px 20px 20px;
}

nav ul a:hover {
  text-decoration: underline;
}

header {
  background-color: var(--primary-color);
  color: #fff;
  text-align: center;
  padding: 20px;
}

header>* {
  padding: 10px;
}

header .toggle {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 5px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
  border: none;
  cursor: pointer;
}

.button {
  background-color: var(--secondary-color);
  padding: 15px 15px;
  font-size: 22px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
}

main {
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
}

main div {
  margin: 20px 20px;
}

main h2 {
  margin-top: 20px;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal {
  background-color: #fff;
  width: 90%;
  max-width: 450px;
}

.modal .modal-header {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #fff;
}

.modal .modal-header>* {
  margin: 5px;
  border: none;
}

.modal .modal-header h2 {
  margin-top: 15px;
}



.modal .modal-header #close-button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: #fff;
  font-size: 25px;
}

.modal .modal-body>* {
  margin: 10px 10px;
}

.modal .modal-body label {
  display: block;
  padding-top: 10px;
}

.modal .modal-body input {
  display: block;
  width: 100%;
}

.modal .modal-body .button {
  font-size: 16px;
  width: 70px;
  padding: 5px;
  margin: 15px 0 15px 0;
}